<div class="container">
  <div class="row">
      
      <form action="/admin/generate-fake-post" method="post">
              <h1>Create Post</h1>

          <div class="form-group">

            <label for="number">Number</label>
            <input type="number" name="number" id="number" class="form-control">
          
          </div>
        <button type="submit">Create</button>
      
      </form>

  </div>
</div>