<h1>Create Post</h1>

<form action="/admin/posts/create" method="POST" enctype="multipart/form-data">

    <div class="form-group">

        <label for="title">Title</label>
        <input required type="text" name="title" id="title" class="form-control" placeholder="Enter Title">
    
    </div>

    <div class="form-group">
      <label for="file">Upload Image</label>
      <input type="file" name="file" id="file" class="form-control">
    </div>

    <div class="form-group">

        <label for="category">Category</label>

        <select class="form-control" name="category" id="category">

            {{#each categories}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>

    </div>

     <div class="form-group">

        <label for="status">Status</label>
        <select class="form-control" name="status" id="status">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
        </select>

    </div>

    <div class="form-check">
      <label for="allowComments" class="form-check-label">
      <input type="checkbox" name="allowComments" id="allowComments" class="form-check-input" aria-describedby="helpId">
      Allow Comments
      </label>
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea required class="form-control" name="body" id="body" rows="2" cols="5" placeholder="Enter Description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>