<div class="container">
    <div class="row">
            <div class="card-about">
                <div class="card-body">
                    <h4 class="card-title">About Me</h4>
                    <p class="card-text">You can Check me out in:</p>
                    <a href="https://www.linkedin.com/in/refiqi-fadila">
                        <i class="fa fa-linkedin-square">Linkedin</i>
                    </a>  | 
                    <a href="https://github.com/Refiqi">
                        <i class="fa fa-github">Github</i>
                    </a>
                </div>
            </div>
    </div>
</div>